{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Claudio Ledesma | Backend Developer | Data Engineering{% endblock %}</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'portfolio/assets/css/styles.css' %}?v=2">

    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>

    {% include 'portfolio/partials/navbar.html' %}
  
    <main>
        {% block content %} {% endblock %}
    </main>

    {% include 'portfolio/partials/footer.html' %}

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>
        
        <!--===== MAIN JS =====-->
        <script src="{% static 'portfolio/assets/js/main.js' %}"></script>

</body>
</html>