{% extends "portfolio/base.html" %}

{% load static %}

{% block title %}Contact - Portfolio{% endblock %}

{% block content %}

<section class="contact section" id="contact">
    <h2 class="section-title">Contact</h2>

    <div class="contact__container bd-grid">

         {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" 
                style="color:green; font-weight: 600; text-align: center;">
                {{ message }}
                </div>
            {% endfor %}      
        {% endif %}

        <form method="post" class="contact__form">
            {% csrf_token %}

            <input type="text" name="name" placeholder="Name" class="contact__input" required>
            <input type="email" name="email" placeholder="Email" class="contact__input" required>

            <textarea name="message" placeholder="Message" rows="10" class="contact__input" required></textarea>

            <button type="submit" class="contact__button button">Send</button>
        </form>
    </div>
</section>

{% endblock %}